.Header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.image img {
    margin: 6px;
}

.image img:last-child {
    position: relative;
    margin: 6px;
    bottom:10px;
}

.image a {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #475569;
    align-items: center;
    bottom: 15px;
}